/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.navbar {
  /*background-color: #404041;*/
  background-color: #ffffff;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 36px solid #d5d5d5;
}

#block-locale-language {
  padding-top: 30px;
}

#block-locale-language li a {
  width: 29px;
  height: 29px;
  background-color: #572a86;
  border-radius: 29px;
  padding: 5px;
  color: #FFFFFF;
}

#block-locale-language li.active a {
  background-color: #f5691a;
}

ul.language-switcher-locale-url {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.language-switcher-locale-url li {
  float: left;
}

ul.language-switcher-locale-url li a {
  margin-left: 25px;
}



button.navbar-toggle {
  display: none;
}

div#crm-container div.label {
  color: #333333;
  display: block;
  width: 100%;
  text-align: left;
}

div#crm-container div.content {
  margin-left: 10px;
  margin-bottom: 20px;
}

footer {
  background-color: #000000;
}

div.region-navigation {
  text-align: right;
}

div.webform-datepicker select {
  display: inline;
  width: 100px;
}
